<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/main.css">
</head>
        <style>
			ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 12%;
			background-color: #f1f1f1;
			position: fixed;
			height: 100%;
			overflow: auto;
		}

		li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
		}

		li a.active {
		background-color: #4CAF50;
		color: white;
		}

		li a:hover:not(.active) {
		background-color: #555;
		color: white;
		}
        </style>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<ul>
	<li><a class="index.html" href="#home">Home</a></li>
	<li><a href="Aboutme.html">About Me</a></li>
	<li><a href="length.html">Length Conversion</a></li>
	<li><a class="active" href="contact.html">Contact</a></li>
	<li><a href="localhost:8081/guestbook">Guestbook</a></li>
	</ul>
<style>
p {
    padding-left: 15%;
}
</style>
<p>
    <h1> Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</p>